.ShopGuideModule {
  background-color: #fff;
  padding: 0.13333rem 0.4rem 0.4rem 0.34667rem;
  box-sizing: border-box;
}
.ShopGuideModule .ShopGuideModule_lists {
  display: flex;
  flex-wrap: wrap;
}
.ShopGuideModule .ShopGuideModule_lists .ShopGuideModule_list {
  width: 4.57333rem;
  height: 3.52rem;
  background-color: #eee;
  margin: 0.05333rem 0 0 0.05333rem;
  padding: 0.26667rem 0 0 0.26667rem;
  box-sizing: border-box;
  border-radius: 0.05333rem;
  display: flex;
  flex-direction: column;
}
.ShopGuideModule .ShopGuideModule_lists .ShopGuideModule_list .ShopGuideModule_title1 {
  font-size: 0.42667rem;
  font-family: PingFangSC-Medium;
  margin-bottom: 0.2rem;
}
.ShopGuideModule .ShopGuideModule_lists .ShopGuideModule_list .ShopGuideModule_title2 {
  font-size: 0.32rem;
}
.ShopGuideModule .ShopGuideModule_lists .ShopGuideModule_list .ShopGuideModule_img img {
  width: 2rem;
  height: 2rem;
}
